# using Openrouter provider
API_BASE=https://openrouter.ai/api
API_KEY=<OPENROUTER_API_KEY>
MODEL=nvidia/nemotron-3-ultra-550b-a55b:free
EFFORT=medium

# using LiteLLM AI Gateway
API_BASE=<OLLAM_API_BASE>
API_KEY=<LITE_LLM_API_KEY> or ollama for local models
MODEL=qwen3.6-27b
EFFORT=high
